.top-navbar{

    height:50px;

    background:#313338;

    display:flex;

    align-items:center;

    gap:20px;

    padding:0 20px;

    color:white;

    border-bottom:1px solid #1e1f22;
}

.top-navbar button{

    margin-left:auto;

    padding:8px 14px;

    background:#5865F2;

    border:none;

    color:white;

    border-radius:5px;
}